*{
    margin: 0;
}

body{
    background-color: rgb(0, 0, 0);
    
   
}
.box{
    display: flex;
    justify-content: space-between;


}
.main{
    width: 700px;
    height: 800px;
    
   
}
.p1{
    width: 100px;
    margin-left: 40px;
    margin-top: 30px;
}
.para{
    color: white;
    font-size: 40px;
    text-align: center;
    border-left: 100px;
    border-top: 90px;
}
.p3{
    color: rgb(185, 17, 82);
}
.p2{
    width: 300px;
    height: 500px;
    border-radius: 25px;
   margin-top: 100px;
   margin-left: 190px;
    
   
  
}
.card{
    height: 900px;
    width: 600px;
    background-color: rgb(45, 43, 43);   
    display: flex;
    justify-content: center;
    border: 3px  solid rgb(67, 63, 63);
   
}

h2{
    color: white;
    padding-top: 90px;
    font-size: 20px;
    padding-left: 5px;
   
  
}
.inp1{
    border-color: white;
    border-radius: 7px;
    width: 400px;
    height: 40px;
    background-color: transparent;
    padding: 10px;
   
}

.b1{
    background-color: rgb(41, 67, 184);
    width: 425px;
    height: 40px;
    border-radius: 15px ;
    border: none;
}
a{
    padding-left: 140px;
    color: white;
}

.b2{
    background-color: rgb(80, 75, 75);
    width: 425px;
    height: 40px;
    border-radius: 20px;
   padding-right: 150px;
   border: none;
   }

.b3{
    background-color: transparent;
    border-color: rgb(39, 22, 185);
    color: rgb(41, 67, 184);
    width: 425px;
    height: 40px;
    border-radius: 15px ;
    padding-right: 150px;
    border: 2px solid ;
      
}
.last{
    color: white;
    text-align: center;
    font-weight: 300;
    margin-top: 20px;

}
i{
    color: white;
    margin-left:10px;
    margin-bottom: 80px;
    font-size:15px;
    
 
}
footer{
    height: 150px;
    width: 100%;
    color: white;
    text-align: center;
    border-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
     border: 3px  solid rgb(67, 63, 63);

}


